@using AwakenYourSmile.Web.Models
@model LoginViewModel

@{
    ViewBag.Title = "Bienvenido a tu administrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="headline">
    <div class="container">
        <h3>Bienvenidos</h3>
    </div>
</section>
<section class="container page-content">

    <hr class="vertical-space3">

    <h4>Despierta tu sonrisa</h4>
    <br />
    <p><strong>Bienvenido a tu administrador</strong></p>


    <div class="eight columns offset-by-one">
        <div class="contact-form">
            <div class="clr"></div><br />
            @using (Html.BeginForm("Login", "Administration", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "frmContact", role = "form" }))
            {
                <h5>@Html.LabelFor(m => m.Email)</h5>
                @Html.TextBoxFor(m => m.Email, new { @class = "txbx" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })<br />
                <h5>@Html.LabelFor(m => m.Password)</h5>
                @Html.PasswordFor(m => m.Password, new { @class = "txbx" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })<br />

                <button name="" type="button" class="sendbtn btnSend">Ingresar</button>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div id="spanMessage">Quiubolas?
                </div>
            }
        </div>
    </div><!-- end-contact-form  -->
</section><!-- container -->
