@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Bienvenido a tu administrador";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="container">

    <section class="our-process-wrap">

        <div class="icon-top-title aligncenter">
            <hr class="vertical-space2">
            <i class="icomoon-grin"></i>
            <hr class="vertical-space1">
            <h2>Bienvenido @User.Identity.GetUserName()</h2>
            <h3 class="slight">Administrador de Despierta Tu Sonrisa :D</h3>
            <hr class="vertical-space4">
        </div>
        <div class="our-process proc3level">
            <div class="our-process-item">
                <a href="@Url.Action("Nuevo", "Historial")">
                    <i class="icomoon-pencil"></i>
                </a>
                <div class="our-process-content">
                    <h5>1. Crea</h5>
                    <p>@Html.ActionLink("Crea un nuevo historial clínico.", "Nuevo", "Historial")</p>
                </div>
            </div>

            <div class="our-process-item">
                <a href="@Url.Action("Busqueda", "Historial")">
                    <i class="icomoon-search"></i>
                </a>
                <div class="our-process-content">
                    <h5>2. Busca</h5>
                    <p>@Html.ActionLink("Busca un historial clínico.", "Busqueda", "Historial")</p>
                </div>
            </div>
        </div>
    </section>
</section>

