@model AwakenYourSmile.Odontogram
@{
    ViewBag.Title = "Odontograma";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section AddToHead
{
    <style type="text/css">
        .odontogram_item {
            display: inline-block;
            width: 47px;
        }
        input.odontogram_item {
            display: inline-block;
            padding: 0 0;
            margin-bottom: 2px;
            width: 45px;
        }
        .odontogram_row {
            float: none;
            clear: both;
            width: 840px;
        }
        .odontogram_offset {
            margin-left: 150px;
        }
        textarea.odontogram_field {
            width: 752px;
            height: 120px;
        }
    </style>
}

<section class="container page-content">
    <hr class="vertical-space2">
    @using (Html.BeginForm("Odontograma", "Historial", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.DateCreated)
        <div class="odontogram_row">
            @Html.TextBoxFor(m => m.Item18A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item17A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item16A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item15A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item14A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item13A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item12A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item11A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item21A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item22A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item23A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item24A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item25A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item26A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item27A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item28A, new { @class = "odontogram_item" })
        </div>
        <div class="odontogram_row">
            @Html.TextBoxFor(m => m.Item18B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item17B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item16B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item15B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item14B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item13B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item12B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item11B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item21B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item22B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item23B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item24B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item25B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item26B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item27B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item28B, new { @class = "odontogram_item" })
        </div>
        <div class="odontogram_row">
            @Html.TextBoxFor(m => m.Item18C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item17C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item16C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item15C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item14C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item13C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item12C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item11C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item21C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item22C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item23C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item24C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item25C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item26C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item27C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item28C, new { @class = "odontogram_item" })
        </div>
        <div class="odontogram_row">
            <img src="@Url.Content("~/images/odontogram/18.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/17.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/16.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/15.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/14.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/13.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/12.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/11.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/21.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/22.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/23.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/24.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/25.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/26.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/27.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/28.jpg")" width="47" height="62" />
        </div>
        <div class="odontogram_row">
            @Html.TextBoxFor(m => m.Item18D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item17D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item16D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item15D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item14D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item13D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item12D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item11D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item21D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item22D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item23D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item24D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item25D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item26D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item27D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item28D, new { @class = "odontogram_item" })
        </div>
        <div class="odontogram_row odontogram_offset">
            <img src="@Url.Content("~/images/odontogram/55.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/54.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/53.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/52.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/51.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/61.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/62.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/63.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/64.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/65.jpg")" width="47" height="62" />
        </div>
        <div class="odontogram_row odontogram_offset">
            @Html.TextBoxFor(m => m.Item55A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item54A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item53A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item52A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item51A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item61A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item62A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item63A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item64A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item65A, new { @class = "odontogram_item" })
        </div>
        <div class="odontogram_row odontogram_offset">
            <img src="@Url.Content("~/images/odontogram/85.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/84.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/83.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/82.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/81.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/71.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/72.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/73.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/74.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/75.jpg")" width="47" height="62" />
        </div>
        <div class="odontogram_row odontogram_offset">
            @Html.TextBoxFor(m => m.Item85A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item84A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item83A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item82A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item81A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item71A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item72A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item73A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item74A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item75A, new { @class = "odontogram_item" })
        </div>
        <div class="odontogram_row">
            <img src="@Url.Content("~/images/odontogram/48.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/47.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/46.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/45.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/44.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/43.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/42.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/41.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/31.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/32.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/33.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/34.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/35.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/36.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/37.jpg")" width="47" height="62" />
            <img src="@Url.Content("~/images/odontogram/38.jpg")" width="47" height="62" />
        </div>
        <div class="odontogram_row">
            @Html.TextBoxFor(m => m.Item48D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item47D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item46D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item45D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item44D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item43D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item42D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item41D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item31D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item32D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item33D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item34D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item35D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item36D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item37D, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item38D, new { @class = "odontogram_item" })
        </div>
        <div class="odontogram_row">
            @Html.TextBoxFor(m => m.Item48A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item47A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item46A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item45A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item44A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item43A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item42A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item41A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item31A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item32A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item33A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item34A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item35A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item36A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item37A, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item38A, new { @class = "odontogram_item" })
        </div>
        <div class="odontogram_row">
            @Html.TextBoxFor(m => m.Item48B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item47B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item46B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item45B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item44B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item43B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item42B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item41B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item31B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item32B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item33B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item34B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item35B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item36B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item37B, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item38B, new { @class = "odontogram_item" })
        </div>
        <div class="odontogram_row">
            @Html.TextBoxFor(m => m.Item48C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item47C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item46C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item45C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item44C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item43C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item42C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item41C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item31C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item32C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item33C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item34C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item35C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item36C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item37C, new { @class = "odontogram_item" })
            @Html.TextBoxFor(m => m.Item38C, new { @class = "odontogram_item" })
        </div>
        <div class="odontogram_row">
            <h6>Tratamiento:</h6>
            @Html.TextAreaFor(model => model.Treatment, new { placeholder = "Tratamiento", @class = "odontogram_field" })
            @Html.ValidationMessageFor(model => model.Treatment)
            <h6>Notas:</h6>
            @Html.TextAreaFor(model => model.Notes, new { placeholder = "Notas", @class = "odontogram_field" })
            @Html.ValidationMessageFor(model => model.Notes)
        </div>
        <div class="sixteen columns">
            <div class="one_third column-last">
                <input type="submit" value="Guardar" class="form-submit-button" />
                <input type="button" value="Regresar" class="form-submit-button" onclick='document.location.href="@Url.Action("Modificar", new { id = Model.ID })";return false;' />
            </div>
        </div>
    }
</section>