@using System.Globalization;
@{
    ViewBag.Title = "Calendario";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section AddToHead{
    @Styles.Render("~/Content/fullcalendar")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/fullcalendar")
    <style type="text/css">
        .appointment_cancelled, .appointment_cancelled:visited, .appointment_cancelled:hover, .appointment_cancelled:active {
            background-color: #ffffff;
            color: #ff0000 !important;
            text-decoration: line-through;
        }
        .appointment_booked, .appointment_booked:visited, .appointment_booked:hover, .appointment_booked:active {
            color: #ffffff !important;
        }
        .appointment_entered, .appointment_entered:visited, .appointment_entered:hover, .appointment_entered:active {
            color: #c0c0c0 !important;
            background-color: #ffffff;
        }
    </style>
}

<section class="container page-content">
    <hr class="vertical-space2">
    <input type="button" value="Agregar nueva cita" class="form-submit-button" onclick='document.location.href="@Url.Action("AgendarCita", "Agenda")";return false;'>
    <div id='calendar'></div>
    <br/>
    <input type="button" value="Regresar" class="form-submit-button" onclick='document.location.href="@Url.Action("Index", "Administration")";return false;'>
</section>

@section Scripts {
    @if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "es")
    {
        @Scripts.Render("~/Scripts/fullcalendar-lang/es.js");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                lang: '@Html.DisplayTextFor(language => CultureInfo.CurrentUICulture.TwoLetterISOLanguageName)',
                eventSources: [
                    {
                        url: '@Url.Action("Eventos")',
                        type: "GET",
                        error: function () {
                            alert('"here was an error while fetching events.');
                        }
                    }
                ]
            });
        });
    </script>
}
