@model AwakenYourSmile.Appointment
@{
    ViewBag.Title = "Cita Registrada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="headline">
    <div class="container">
        <h3>Tu cita</h3>
    </div>
</section>
<section class="container page-content">

    <div class="eight columns offset-by-one">
        <div class="contact-form">
            <div class="clr"></div><br />
                Gracias, pronto recibirá una notificación de la cita.
                <h5>Nombre:</h5>
                @Html.DisplayTextFor(model => model.FirstName)<br/>
                <h5>Apellidos:</h5>
                @Html.DisplayTextFor(model => model.LastName)<br/>
                <h5>Email:</h5>
                @Html.DisplayTextFor(model => model.Email)<br/>
                <h5>Teléfono:</h5>
                @Html.DisplayTextFor(model => model.PhoneNumber)<br/>
                <h5>Celular:</h5>
                @Html.DisplayTextFor(model => model.CellPhone)<br/>
                <h5>Fecha:</h5>
                @Html.DisplayTextFor(model => model.AppointmentDate)<br/>

                @Html.ActionLink("Regresar", "Index")&nbsp;|&nbsp;
                <div id="spanMessage">
                </div>
        </div>
    </div>
</section>
